# ==========================
# Frontend
# ==========================
API_BASE_URL=http://100.78.88.8:8000


# ==========================
# Backend - API Keys
# ==========================
OPENAI_API_KEY=
RUNPOD_API_KEY=
GROQ_API_KEY=
HF_TOKEN=


# ==========================
# Backend - LangSmith
# ==========================
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=Job-pocket


# ==========================
# Backend - HTTP
# ==========================
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64)


# ==========================
# Database - RDB
# ==========================
RDB_URL=mysql+pymysql://rdb_user:rdb_password@100.78.88.8:3306/job_pocket_rdb
TEST_RDB_URL=
MYSQL_RDB_USER=rdb_user
MYSQL_RDB_PASSWORD=rdb_password


# ==========================
# Database - Vector
# ==========================
VECTOR_DB_URL=mysql+pymysql://vector_user:vector_password@100.78.88.8:3306/job_pocket_vector
TEST_VECTOR_DB_URL=
MYSQL_VECTOR_USER=vector_user
MYSQL_VECTOR_PASSWORD=vector_password


# ==========================
# Database - MySQL Container
# ==========================
MYSQL_ROOT_PASSWORD=root
TIMEZONE=Asia/Seoul